<h2 class="section-title">{{ .titles.about }}</h2>

<br>
<p itemprop="description"><b>Welcome!</b></p> 
<p>Data Science Unplugged (DSup) is a community for everyone becoming a data scientist or keen on learning and sharing knowledge about statistics and data science. This time DSup brings you a full-day event with several speakers and a workshop: <strong>Data Science in Practice</strong></p>  
<p>DSup event will be held in Lisbon at <a href= "http://www.fciencias-id.pt/node/9" target = "_blank">FCiências.ID</a> auditorium. Know more about the location <a href = "https://ciencias.ulisboa.pt/pt/o-campus" target = "_blank">here.</a>
</p>

<p>This is an informal and relaxed kind of event, aimed at making people feel comfortable to engage in conversations and challenge their thinking. The goal is to help students in the transition from academia into their professional life. The emphasis will be on Statistics in "Data Science”. The focus will be to answer <i>Questions</i> that lead to some <i>Decisions</i> based on the “Data Science” process via statistical analysis. <p>

<p>You can find more related to this project on our <a href="https://www.meetup.com/Data-Science-Unplugged" target="_blank">DSup meetup page.</a></p>

<p><b>Come and join us</b> for an informal and knowledge-sharing experience.</p>
